In [1]:
print('Es mi primer programa con la libreria panda')

Es mi primer programa con la libreria panda

#vamos a programar poco a poco

In [2]:
import pandas as pd

In [10]:
series = pd.Series([2,10,20,30,40,50])

In [11]:
series

0     2
1    10
2    20
3    30
4    40
5    50
dtype: int64

In [12]:
type(series)

pandas.core.series.Series

In [13]:
series[3]

30

In [14]:
cad = pd.Series(['p', 'l', 'a', 't', 'z', 'i'])

In [15]:
cad

0    p
1    l
2    a
3    t
4    z
5    i
dtype: object

In [21]:
lst = ['Hola', 'mundo', ' robotico']
df = pd.DataFrame(lst)
df

           0
0       Hola
1      mundo
2   robotico

In [29]:
data = {'Nombre':['Juan', 'Ana', 'Jose', 'Arturo'],  'Edad':[25, 12,  26,  16], 'Pais' : ['MX', 'CO', 'BR', 'MX']}
df = pd.DataFrame(data)
df

   Nombre  Edad Pais
0    Juan    25   MX
1     Ana    12   CO
2    Jose    26   BR
3  Arturo    16   MX

In [33]:
print(df[['Pais','Edad']])

  Pais  Edad
0   MX    25
1   CO    12
2   BR    26
3   MX    16

In [42]:
data = pd.read_csv('salarios_dc1975e5-393f-4b89-9b04-a2b48ce17388.csv')
data.head(5)

   Aexperiencia  Salario
0          10.0    42500
1           8.0    36302
2           5.4    35000
3           2.5    18103
4           1.0    15000

In [43]:
artista = data.Salario

In [50]:
artista

0     42500
1     36302
2     35000
3     18103
4     15000
5     37000
6     26300
7     35201
8     18302
9     42000
10    27000
11    35201
12    19201
13    28000
14    17000
15    33402
16    19000
17    18200
18    19000
19    17301
20    28000
21    20000
22    27900
23    17500
24    40000
25    42500
26    18300
27    40000
28    25000
29    15000
Name: Salario, dtype: int64

In [45]:
info = data.iloc[15]
info

Aexperiencia        5.0
Salario         33402.0
Name: 15, dtype: float64

In [46]:
data.tail()

    Aexperiencia  Salario
25          10.0    42500
26           3.2    18300
27          10.0    40000
28           4.0    25000
29           1.0    15000

In [47]:
data.shape

(30, 2)

In [48]:
data.columns

Index(['Aexperiencia', 'Salario'], dtype='object')

In [49]:
data['Salario'].describe()

count       30.000000
mean     27107.100000
std       9458.745839
min      15000.000000
25%      18300.500000
50%      26650.000000
75%      35201.000000
max      42500.000000
Name: Salario, dtype: float64

In [61]:
data.sort_index(axis= 0, ascending = False)

,id,name,artists,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,time_signature
99,3EPXxR3ImUwfayaurPi3c,Be Alright,Dean Lewis,0.553,0.586,11.0,-6.319,1.0,0.0362,0.6970,0.000000,0.0813,0.4430,126.684,196373.0,4.0
98,1j4kHkkpqZRBwE0A4CN4Y,Dusk Till Dawn - Radio Edit,ZAYN,0.258,0.437,11.0,-6.593,0.0,0.0390,0.1010,0.000001,0.1060,0.0967,180.043,239000.0,4.0
97,5WvAo7DNuPRmk4APhdPzi,No Brainer,DJ Khaled,0.552,0.760,0.0,-4.706,1.0,0.3420,0.0733,0.000000,0.0865,0.6390,135.702,260000.0,5.0
96,2xmrfQpmS2iJExTlklLoA,I Miss You (feat. Julia Michaels),Clean Bandit,0.638,0.658,3.0,-6.318,1.0,0.0456,0.2450,0.000004,0.0919,0.3300,105.076,205748.0,4.0
95,630sXRhIcfwr2e4RdNtjK,Rewrite The Stars,Zac Efron,0.684,0.619,10.0,-7.005,1.0,0.0386,0.0716,0.000000,0.1220,0.2840,125.046,217440.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,2G7V7zsVDxg1yRsu7Ew9R,In My Feelings,Drake,0.835,0.626,1.0,-5.833,1.0,0.1250,0.0589,0.000060,0.3960,0.3500,91.030,217925.0,4.0
3,3swc6WTsr7rl9DqQKQA55,Psycho (feat. Ty Dolla $ign),Post Malone,0.739,0.559,8.0,-8.011,1.0,0.1170,0.5800,0.000000,0.1120,0.4390,140.124,221440.0,4.0
2,0e7ipj03S05BNilyu5bRz,rockstar (feat. 21 Savage),Post Malone,0.587,0.535,5.0,-6.090,0.0,0.0898,0.1170,0.000066,0.1310,0.1400,159.847,218147.0,4.0
1,3ee8Jmje8o58CHK66QrVC,SAD!,XXXTENTACION,0.740,0.613,8.0,-4.880,1.0,0.1450,0.2580,0.003720,0.1230,0.4730,75.023,166606.0,4.0
0,6DCZcSspjsKoFjzjrWoCd,God's Plan,Drake,0.754,0.449,7.0,-9.211,1.0,0.1090,0.0332,0.000083,0.5520,0.3570,77.169,198973.0,4.0

# RETO DE PANDA

In [52]:
data = pd.read_csv('canciones-2018_b2c776e4-1cce-40eb-b3e7-591ea6d29f83.csv')
data.head(5)

,id,name,artists,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,time_signature
0,6DCZcSspjsKoFjzjrWoCd,God's Plan,Drake,0.754,0.449,7.0,-9.211,1.0,0.1090,0.0332,0.000083,0.552,0.357,77.169,198973.0,4.0
1,3ee8Jmje8o58CHK66QrVC,SAD!,XXXTENTACION,0.740,0.613,8.0,-4.880,1.0,0.1450,0.2580,0.003720,0.123,0.473,75.023,166606.0,4.0
2,0e7ipj03S05BNilyu5bRz,rockstar (feat. 21 Savage),Post Malone,0.587,0.535,5.0,-6.090,0.0,0.0898,0.1170,0.000066,0.131,0.140,159.847,218147.0,4.0
3,3swc6WTsr7rl9DqQKQA55,Psycho (feat. Ty Dolla $ign),Post Malone,0.739,0.559,8.0,-8.011,1.0,0.1170,0.5800,0.000000,0.112,0.439,140.124,221440.0,4.0
4,2G7V7zsVDxg1yRsu7Ew9R,In My Feelings,Drake,0.835,0.626,1.0,-5.833,1.0,0.1250,0.0589,0.000060,0.396,0.350,91.030,217925.0,4.0

In [56]:
df = pd.DataFrame(data)

In [58]:
 df

,id,name,artists,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,time_signature
0,6DCZcSspjsKoFjzjrWoCd,God's Plan,Drake,0.754,0.449,7.0,-9.211,1.0,0.1090,0.0332,0.000083,0.5520,0.3570,77.169,198973.0,4.0
1,3ee8Jmje8o58CHK66QrVC,SAD!,XXXTENTACION,0.740,0.613,8.0,-4.880,1.0,0.1450,0.2580,0.003720,0.1230,0.4730,75.023,166606.0,4.0
2,0e7ipj03S05BNilyu5bRz,rockstar (feat. 21 Savage),Post Malone,0.587,0.535,5.0,-6.090,0.0,0.0898,0.1170,0.000066,0.1310,0.1400,159.847,218147.0,4.0
3,3swc6WTsr7rl9DqQKQA55,Psycho (feat. Ty Dolla $ign),Post Malone,0.739,0.559,8.0,-8.011,1.0,0.1170,0.5800,0.000000,0.1120,0.4390,140.124,221440.0,4.0
4,2G7V7zsVDxg1yRsu7Ew9R,In My Feelings,Drake,0.835,0.626,1.0,-5.833,1.0,0.1250,0.0589,0.000060,0.3960,0.3500,91.030,217925.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,630sXRhIcfwr2e4RdNtjK,Rewrite The Stars,Zac Efron,0.684,0.619,10.0,-7.005,1.0,0.0386,0.0716,0.000000,0.1220,0.2840,125.046,217440.0,4.0
96,2xmrfQpmS2iJExTlklLoA,I Miss You (feat. Julia Michaels),Clean Bandit,0.638,0.658,3.0,-6.318,1.0,0.0456,0.2450,0.000004,0.0919,0.3300,105.076,205748.0,4.0
97,5WvAo7DNuPRmk4APhdPzi,No Brainer,DJ Khaled,0.552,0.760,0.0,-4.706,1.0,0.3420,0.0733,0.000000,0.0865,0.6390,135.702,260000.0,5.0
98,1j4kHkkpqZRBwE0A4CN4Y,Dusk Till Dawn - Radio Edit,ZAYN,0.258,0.437,11.0,-6.593,0.0,0.0390,0.1010,0.000001,0.1060,0.0967,180.043,239000.0,4.0
99,3EPXxR3ImUwfayaurPi3c,Be Alright,Dean Lewis,0.553,0.586,11.0,-6.319,1.0,0.0362,0.6970,0.000000,0.0813,0.4430,126.684,196373.0,4.0

In [59]:
print(df[['key']])

     key
0    7.0
1    8.0
2    5.0
3    8.0
4    1.0
..   ...
95  10.0
96   3.0
97   0.0
98  11.0
99  11.0

[100 rows x 1 columns]

In [74]:
data[['name','danceability', 'energy']].sort_index(axis= 0 ,ascending = False)

                                 name  danceability  energy
99                         Be Alright         0.553   0.586
98        Dusk Till Dawn - Radio Edit         0.258   0.437
97                         No Brainer         0.552   0.760
96  I Miss You (feat. Julia Michaels)         0.638   0.658
95                  Rewrite The Stars         0.684   0.619
..                                ...           ...     ...
4                      In My Feelings         0.835   0.626
3        Psycho (feat. Ty Dolla $ign)         0.739   0.559
2          rockstar (feat. 21 Savage)         0.587   0.535
1                                SAD!         0.740   0.613
0                          God's Plan         0.754   0.449

[100 rows x 3 columns]